<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="nav :: head">
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<nav th:include="nav :: nav"></nav>
</head>
<body class="text-center home" data-gr-c-s-loaded="true">
	<div class="container">
		<!-- This is the content -->
		<div id="page-content-wrapper">
			<div class="container-fluid mt-4 row">
				<div class="col-12 mt-4">
					<div class="shadow card">
						<div class="card-body">
							<table class="table">
								<thead class="bg-primary">
									<tr>
										<th>&nbsp;</th>
										<th><h3 th:text="${carPark.getName()}"></h3></th>
										<th th:if="${user.getUserID()==0}"
											th:onclick="'location.href=\''+ @{/bookmark/{id} (id=${carPark.getCarParkID()})}+'\''"><i
											class="fa fa-bookmark-o fa-2x"></i></th>
										<th th:unless="${user.getUserID()==0}"><i
											class="fa fa-bookmark fa-2x"></i></th>
									</tr>
								</thead>
							</table>

						</div>
						<div class="page-content-wrapper">
							<div class="card-img-center">
								<img class="carimg" th:src="${carPark.getPhotoLink()}"/>
							</div>
							<p></p>
							<div class="card-img-center" th:if="${user.getUserID()==0}">
								<a href="/cartopia/login" class="btn btn-primary">Reservation</a>
							</div>
							<div class="card-img-center" th:unless="${user.getUserID()==0}">
								<a href="#reservationPop" class="btn btn-primary">Reservation</a>
							</div>
						</div>
						<br />

						<div class="container align-content-center">
							<p></p>
							<!--  -->
							<h4 th:text="'Address: ' + ${carPark.getAddress()}"></h4>
							<p th:text="${carPark.getDescription()}"></p>
							<p
								th:text="'Office Hour: ' + ${carPark.getOpenTime()} + ' - ' + ${carPark.getCloseTime()}"></p>
							<p
								th:text="'Number of private car parking spaces: ' + ${carPark.getPrivateCarSlot()}"></p>
							<p
								th:text="'Private car parking fees: $' + ${carPark.getPrivateCarFee()}"></p>
							<p
								th:text="'Number of motor parking spaces: ' + ${carPark.getMotorSlot()}"></p>
							<p
								th:text="'Motor parking fees: $' + ${carPark.getMotorFee()}"></p>
							<p
								th:text="'Number of remaining parking spaces: ' + ${realTimeSpace}"></p>
						</div>
					</div>
					<p></p>
					<div class="shadow card">
						<p></p>
						<h4>Comment</h4>
						<hr />
						<!-- If the user doesn't login -->
						<div th:if="${user.getUserID()==0}">Please Login to comment!</div>
						<!-- If the user login -->
						<form method="POST" th:action="'addComment/' + ${carPark.getCarParkID()}"
							th:object="${addComment}" th:unless="${user.getUserID()==0}">
							<textarea class="textarea col-10 ml-4 mr-4 font-control" th:field="*{comment}"
								placeholder="Give a comment..." name="comment" id="addComment"
								th:value="${comment}" required></textarea>
							<p></p>
							<div class="card-img-center">
								<button type="submit" class="btn btn-primary">Comment</button>
							</div>
						</form>
						<p></p>
						<div class="container ml-4" th:each="comment: ${comment} ">
							<table>
								<thead>
									<tr>
										<td><img src="/cartopia/images/memberIcon.png" width="40"
											height="40" alt=""></td>
										<td><h5 th:text="'&nbsp;' + ${comment.getUsername()}"></h5></td>
										<td class="text-md-right"><h6>
												<i>&emsp;24 February, 2019</i>
											</h6></td>
									</tr>
								</thead>
							</table>
							<div class="col">
								<h6 th:text="${comment.getComment()}"></h6>
							</div>

							<p></p>
						</div>
					</div>
				</div>
			</div>
			<!-- Content End -->
		</div>
	</div>
	<div class="text-center overlay" id="reservationPop">
		<br> <br>
		<div class="container p-3 rounded col-sm-10 col-md-4 col-lg-4">
			<div class="shadow border bg-white rounded">
				<br> <span class="brandFont loginBrand">Cartopia</span> <br>
				<h3 class="font-weight-bolder">Reservation</h3>
				<hr>
				<div class="container">
					<form th:object="${booking}" name="reserve" method="post" th:action="'bookCarPark/' + ${carPark.getCarParkID()}">
						<!-- Error for th:object="${driverCarID carParkID carTypeID driverID}" th:action="@{/bookCarPark}" -->
						<strong class="text-center" th:text="${carPark.getName()}" ></strong>
						<p>&nbsp;</p>
						<p th:text="'Address: ' + ${carPark.getAddress()}"></p>
						<p
							th:text="'Time: ' + ${#dates.format(#execInfo.now.time, 'yyyy-MM-dd HH:mm')}"></p>
						<p th:text="'Credit: ' +${credit}"></p>
									<label for="carType">Which car you want to reserve? </label> 
									<select th:field="*{carTypeID}" id="carType" class="form-control">
										<option th:value="1" >Private Car</option>
										<option th:value="2" >Motor</option>
									</select>
						<p>&nbsp;</p>
						<div class="notice font-italic">
							<span class="text-center font-weight-bolder">Notice:</span>Reservation
							take at least an hour's fee. If driver do not arrive at the car
							park within half an hour, the reservation fee will not be
							refunded to driver. If the reservation is cancelled, 10 credits
							will be deducted and the remaining reservation fee will be
							refunded to the driver.
						</div>
						<br> <a href="#" class="btn btn-link col-sm-3">Cancel</a>
						<button type="submit" class="btn btn-primary col-sm-3"
							th:onclick="'location.href=\''+ @{/bookCarPark/{id} (id=${carPark.getCarParkID()})}+'\''">Reserve</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>