<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="navDriver :: head">
<title>DriverPage</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/driverPage.css" th:href="@{/css/driverPage.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />

</head>
<nav th:include="navDriver :: nav"></nav>
<body class="text-center" data-gr-c-s-loaded="true">
	<div class="container ">
		<br> 
		<span class="brandFont driverPageBrand">Cartopia</span>
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		    <h1 class="display-4">Welcome~</h1>
		   
		  </div>
		</div>
	</div>
</body>
<script th:src="@{/js/jquery.min.js}" src="@{/js/jquery.min.js}">

</script>
</html>