<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div lang="en" th:replace="nav :: head"></div>
<meta charset="utf-8">
<title>Profile Page</title>
<link rel="stylesheet" th:href="@{/css/DriverHome.css}">
<link rel="stylesheet" th:href="@{/css/DriverProfile.css}">
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<nav th:include="navDriver :: nav"></nav>

</head>
<body>

</body>