<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="nav :: head">
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<nav th:include="nav :: nav"></nav>
</head>
<body class="text-center home" data-gr-c-s-loaded="true">
	<div class="container">
		<p></p>
		<div class="col-12">
			<div class="searchbar">
				<input class="search_input" type="text" name=""
					placeholder="Search..."> <a href="#" class="search_icon"><i
					class="fa fa-search"></i></a>
			</div>
		</div>
		<p></p>

		<!-- This is the content -->
		<div id="page-content-wrapper">
			<div class="container-fluid mt-4 row">
				<div class="col-12 mt-4">

					<div class="shadow card mt-4"  th:each="carPark: ${carParkList}">
						<div class="card-body">
							<div class="container">
								<div class="row home-for">
									<div class="bg-primary col-10 col-lg-9 col-sm-10 mt-2 mb-2 home-for text-center" th:text="${carPark.getName()}"></div>
									<div class="bg-primary col-2 col-lg-3 col-sm-2 mt-2 mb-2" style="backgtound-color:#0f1834;">
										<i class="fa fa-bookmark-o"></i>
									</div>

								</div>
								<div class="row">
									<div
										class="col-12 col-lg-3 col-sm-12 mt-auto ml-auto mr-auto mb-auto" th:text="'Address: ' + ${carPark.getAddress()}"></div>
									<div
										class="col-12 col-lg-2 col-sm-12 mt-auto ml-auto mr-auto mb-auto">
										<div th:text="'Time: ' + ${carPark.getOpenTime()} + ' - '"></div>  <div th:text="${carPark.getCloseTime()}"></div></div>
									<div
										class="col-12  col-lg-2 col-sm-12 mt-auto ml-auto mr-auto mb-auto">
										<div
											th:text="'Number of private car parking spaces: ' + ${carPark.getPrivateCarSlot()}"></div></div>
									<div
										class="col-12 col-lg-3 col-sm-12 mt-auto ml-auto mr-auto mb-auto">
										<div
											th:text="'Number of motor parking spaces: ' + ${carPark.getMotorSlot()}"></div></div>
									<div
										class="col-12 col-lg-2 col-sm-12 mt-auto ml-auto mr-auto mb-auto">
										<a href="#" class="btn btn-primary" 
										th:onclick="'location.href=\''+ @{/carparkInfo/{id} (id=${carPark.getCarParkID()})}+'\''">Details</a>
									</div>

								</div>
								
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Content End -->
	</div>
</body>
</html>