<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="nav :: head">
<title>login</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/loginStyle.css}" rel="stylesheet" type="text/css" />


</head>
<nav th:insert="nav :: nav"></nav>
<body class="text-center" data-gr-c-s-loaded="true">
	<br>
	<br>
	<div class="container p-3 rounded col-sm-10 col-md-4 col-lg-4">
		<div class="shadow border bg-white rounded">
			<br> <span class="brandFont loginBrand" href="#">Cartopia</span>
			<br>
			<h1 class="loginTitle textcolor">Login</h1>
			<hr>
			<br>
			<div class="container">
				<form action="#" th:action="@{/loginProcess}" th:object="${login}"
					method="POST">
					<div class="container">
						<div class="form-group row ">
							<label for="inputUsername"
								class="col-sm-2 col-form-label offset-sm-1 textcolor">Username:
							</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="inputUsername"
									placeholder="Username" th:field="*{username}">
							</div>
						</div>
						<div class="form-group row">
							<label for="inputPassword"
								class="col-sm-2 col-form-label offset-sm-1 textcolor">Password:
							</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" id="inputPassword"
									placeholder="Password" th:field="*{password}">
							</div>
						</div>
						<span class="errorText"
							th:text="${message != null} ? ${message} : ''"></span><br> <br />
						<button type="submit" class="btn btn-primary col-sm-3">Login</button>
						<br /> <br> <a class="btn btn-link col-sm-3"
							href="#registerPop">Register</a>
					</div>
				</form>
				<br> <br>
			</div>
		</div>
	</div>

	<div class="text-center overlay" id="registerPop">
		<br> <br>
		<div class="container p-3 rounded col-sm-10 col-md-4 col-lg-4">
			<div class="shadow border bg-white rounded">
				<br> <span class="brandFont loginBrand">Cartopia</span> <br>
				<h1 class="loginTitle textcolor">Register</h1>
				<hr>
				<br>
				<div class="container">
					<form  action="#" th:action="@{/registerProcess}" th:object="${user}" method="POST" onsubmit="return checkPassword()">
						<div class="container">
							<div class="form-group row ">
								<label for="registerUsername"
									class="col-sm-4 col-form-label textcolor text-right">Username:
								</label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="registerUsername"
										placeholder="Username"  th:field="*{username}" required>
								</div>
							</div>
							<div class="form-group row ">
								<label for="registerPassword"
									class="col-sm-4 col-form-label textcolor text-right">Password:
								</label>
								<div class="col-sm-7">
									<input type="password" class="form-control"
										id="registerPassword" placeholder="Password"  th:field="*{password}" required>
								</div>
							</div>
							<div class="form-group row ">
								<label for="confirmPassword"
									class="col-sm-4 col-form-label textcolor text-right">Confirm
									Password: </label>
								<div class="col-sm-7">
									<input type="password" class="form-control"
										id="confirmPassword" placeholder="Confirm Password">
								</div>
							</div>
							<div id="checkPassword"></div>
							<div class="form-group row ">
								<label for="firstName"
									class="col-sm-4 col-form-label textcolor text-right">First
									Name: </label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="firstName"
										placeholder="First Name"  th:field="*{firstName}" required>
								</div>
							</div>
							<div class="form-group row ">
								<label for="lastName"
									class="col-sm-4 col-form-label textcolor text-right">Last
									Name: </label>
								<div class="col-sm-7">
									<input type="text" class="form-control" id="lastName"
										placeholder="last Name"  th:field="*{lastName}" required>
								</div>
							</div>
							<div class="form-group row ">
								<label for="email"
									class="col-sm-4 col-form-label textcolor text-right">E-mail:
								</label>
								<div class="col-sm-7">
									<input type="email" class="form-control" id="email"
										placeholder="E-mail"  th:field="*{email}" required>
								</div>
							</div>
							<br> <a href="#" class="btn btn-link col-sm-3">Cancel</a>
							<button type="submit" class="btn btn-primary col-sm-3">Register</button>

						</div>
						<br> <br>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/jquery.min.js}" src="@{/js/jquery.min.js}"></script>

<script>
	function checkPassword() {
		var user = $("#registerUsername").val();
		var password = $('#registerPassword').val();
		var confirmPassword = $('#confirmPassword').val();
		if (password != confirmPassword) {
			$('#checkPassword').html("Passwords do not match!");
			return false;
		}else{
			$('#checkPassword').html("");
			return true;
		}
	}
	$(document).ready(function() {

		$('#confirmPassword').keyup(function() {
			checkPassword();
		});
	});
</script>
</html>